<div class="container-fluid">
  <app-pagetitle title="Dashboard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  <hr class=" mt-0">
  <div class="row mt-4 mx-auto container-fluid">
    <p>Statistiques des utilistaeurs</p>
    <div class="col-xl-12">
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-1 overflow-hidden">
                  <p class="text-truncate font-size-14 mb-2">Employes</p>
                  <h4 class="mb-0"> {{countUser.countEmploye}}
                  </h4>
                </div>
                <div class="text-dark ml-auto">
                  <i mdbColor class="ri-user-fill font-size-24"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-1 overflow-hidden">
                  <p class="text-truncate font-size-14 mb-2">Clients</p>
                  <h4 class="mb-0">{{countUser.countClient}}</h4>
                </div>
                <div class="text-danger ml-auto">
                  <i class="ri-user-fill font-size-24"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="d-flex">
                <div class="flex-1 overflow-hidden">
                  <p class="text-truncate font-size-14 mb-2">Coursiers</p>
                  <h4 class="mb-0">{{countUser.countCoursier}}</h4>
                </div>
                <div class="text-primary ml-auto">
                  <i class="ri-user-fill font-size-24"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
  </div>

</div>