.borderR{
  border-right: 1px solid rgb(84, 100, 117);
}
.borderL{
  border-left: 1px solid rgb(84, 100, 117);
}
.legend {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #d6dbe0;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.legend span {
   background:#fff;
   padding:0 10px;
}
.invalid-feedback-custom{
  font-size: 80%;
  color: #ff3d60;
}
.valid-feedback-custom{
  font-size: 80%;

  color:#1cbb8c;
}
