<div id="panel" class="col-12  col-md-10 col-lg-8  mx-auto text-center" style="background:transparent;">
    <form [formGroup]="formdata" class="col-12">
        <h4 class="labtrack "><i class="bi bi-collection "></i>Recever les récoltes d'argents</h4>
        <div class="form-groupe col-12 col-md-10 mx-auto d-flex m-0 ">
            <input mdbInput type="text"  formControlName="rctTracking" class="form-control mr-1 shadow mt-1"
                placeholder="rec-11111111" autofocus>
            <input mdbBtn type="submit"  color="primary" class="btn btn-info shadow px-4 mx-1 waves-light"
                (click)="recieveRecoltesCheck()" value="Ajouter">
        </div>
    </form>
</div>
<hr class="mx-auto" style="width: 90%">
<div class=" text-dark">
    <label class='m-3 p-2 bg-info text-white' *ngFor="let i of arrOfRct">{{i}}<i class="fas fa-times  mx-2 text-danger"
            (click)="deletSelectedRecolte(i)"></i></label>
</div>
<div class="mx-auto text-center mt-5" *ngIf="count > 0">
    <button type="submit" class="btn btn-success shadow btn-md  px-4 mx-1" (click)="setRecolteRecue()">
        Recever les récoltes sélectionnées
    </button>
    <span class="my-0 text-danger">
        <h2>{{count}}</h2>
    </span>
</div>