<nav class="navbar navbar-expand-md navbar-light bg-light py-0 my-0" style="border-bottom: #d62e2f 3px solid;">
    <!-- LOGO -->

    <div class="navbar-brand-box py-0 my-0" style="line-height: 60px;">
        <!-- bg-white -->
        <a href="/" class="logo " style="line-height: 60px;">
            <span class="logo-sm">
                <img src="assets/images/logo-v1.png" width=220px height=45px>
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-v1.png" width=220px height=45px>
            </span>
        </a>
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto font-weight-bold">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/">Accueil</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link text-primary" routerLink="/services">Services</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link text-dark" href="/contact">Contact</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-dark" href="/apropos">A propos</a>
            </li>
            <li class="nav-item ">
                <a type="link" class=" nav-link text-danger" routerLink="/auth/login">
                    se connecter
                </a>

            </li>
        </ul>
    </div>

</nav>

<div class=" py-5" style="text-align: center;
    background: #eee;
    padding: 40px 0;
    margin-bottom: 40px;">
    <h1 style="color: #333333;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.08em;
    text-align: center;">DÉCOUVREZ NOS Services !</h1>

</div>

<div class="col-md-8 col-sm-12">
    <div class="about-rightsidebar">
        <h2>Courrier classique</h2>
        <h5>Des livraisons de courrier classique (B To B),</h5>
        <p class="ml-5">B2B sont de différents secteurs d’activité : pharmaceutique et parapharmaceutique (médicaments et instruments de
        chirurgie générale et spécialisée), optique (verrerie médicale et lentilles), prélèvements biologiques, industries
        (transport d’échantillons), cahiers de charges, dépôts de soumissions et documents divers, etc. </p>
    </div>
</div>
<hr>
<div class="col-md-8 col-sm-12">
    <div class="about-rightsidebar">
        <h2>E-commerce</h2>
        <h5>Des Livraisons E-commerce (livraison B To C)</h5>
        <p class="ml-5">B2C: essentiellement du e-commerceLa. c’est la prise en charge de la livraison des produits des boutiques électroniques,
        du commerce électronique en Algérie. Avec ou sans recouvrement.</p>
    </div>
</div>
<hr>
<div class="col-md-8 col-sm-12">
    <div class="about-rightsidebar">
        <h2>Recouvrement</h2>
        <h5>Le Cash en Delivery en toute sécurité</h5>
        <p class="ml-5">C’est la possibilité d’opter pour le paiement à la livraison, que ce sois pour le service courrier classique, ou bien le
        service e-commerce</p>
    </div>
</div>

<footer id="footer" class=" mt-5">

    <div class="footer1">
        <div class="container">
            <div class="row">

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact info</h3>
                    <div class="widget-body">
                        <p> Zone d’activité Kaidi Lot 63, Bordj El Kiffan,<br> Algérie 16000 Alger, Algérie</p>

                        <p> RC N°: 13B 0986869-00/16</p>
                        <p> AI N°: 16097109014</p>
                        <p> NIF N°: 001316098686984</p>
                        <p> NIS N°: 001316300106759</p>
                        <p> (+213) 0560 477 119</p>
                        <p>+234 23 9873237<br>
                            <a href="mailto:#">contact@yalidine.com</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Nous suivre</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href=""><i class="fab fa-facebook fa-2"></i></a>
                            <a href=""><i class="fab fa-instagram fa-2"></i></a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                            <img src="assets/images/logo-v2.png" width=210px height=50px>

                    <div class="widget-body">
                        <p>Opérateur de courrier Express en régime
                            domestique. </p>
                        <p> Notre mission principale est de nous assurer de transporter vos
                            courriers et vos colis.</p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">

                <!-- <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="simplenav">
                <a href="#">Home</a> |
                <a href="about.html">About</a> |
                <a href="sidebar-right.html">Sidebar</a> |
                <a href="contact.html">Contact</a> |
                <b><a href="signup.html">Sign up</a></b>
              </p>
            </div>
          </div> -->

                <div class="col-md-12 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright 2022 Yalidine El Djazair Service, Tous droits réservés.
                        </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

</footer>