.form-control-lg{
  margin-top: 1px;
  border-radius: 1;
  border: 1px solid #dae0e5;
}
.formTracking{
  width: 100%;
  margin-top: 6px;
}
.form-control-lg:focus{
  box-shadow: 0 0 2pt 0.1pt rgb(55, 172, 250);
  outline-width: 0px;
}

