<div class="container-fluid">
    <app-pagetitle [breadcrumbItems]="breadCrumbItems"> </app-pagetitle>
    <div class="row mb-3 ml-1" style="margin-top: -24px">
        <a href="javascript:void(0);" class="btn btn-outline-danger" (click)="openModal(content)">
            <i class="fas fa-plus-circle">
                <span class="mt-1 font-weight-normal pl-1">Ajouter Wilaya</span>
            </i>
        </a>
                <div class="custom-file col-3 mt-2 mr-auto">
                    <input type="file" class="custom-file-input" id="customFile" (change)="addfile($event)" placeholder="Upload file"
                        accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                    <label class="custom-file-label" for="customFile">Choisir un fichier des wilayas</label>
                </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-md-2">
                        <!-- Search -->
                        <div class="col-sm-12 col-md-12">
                            <div id="tickets-table_filter" class="dataTables_filter text-md-right">
                                <label class="d-inline-flex align-items-center">Recherche:
                                    <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                                        aria-controls="tickets-table" [(ngModel)]="searchWilayaTerm"
                                        (ngModelChange)="searchTermUpdate(searchWilayaTerm)" /></label>
                            </div>
                        </div>
                        <!-- End search -->
                    </div>
                    <!-- Table -->
                    <div class="table-responsive">
                        <table id="basic-datatable"
                            class="table table-centered dt-responsive nowrap no-footer dtr-inline table-hover">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Code wilaya</th>
                                    <th>Nom Latin</th>
                                    <th>Nom Arabe</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="!isLoading; else spiner">

                                <tr *ngFor="let wilaya of wilayaData" (click)="showDetail(wilaya.id)" class="hover">
                                    <td>
                                        <a class="text-dark font-weight-bold">
                                            {{ wilaya.id }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ wilaya.codeWilaya }}
                                    </td>
                                    <td>
                                        {{ wilaya.nomLatin }}
                                    </td>
                                    <td>
                                        {{ wilaya.nomArabe }}
                                    </td>
                                </tr>
                                <tr *ngIf="wilayaData.length <= 0">
                                    <th colspan="4" class="text-center">
                                        <div class="text-center">
                                            <p class="m-0 p-0"><i class="ri-error-warning-line customIcone"> </i> Pas
                                                de wilayas ! </p>
                                        </div>
                                    </th>
                                </tr>
                            </tbody>

                            <ng-template #spiner>
                                <tbody>
                                    <tr>
                                        <th colspan="4" class="text-center">
                                            <div class="spinner-border text-primary m-1" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                            <span class="d-block">Chargement ...</span>
                                        </th>
                                    </tr>
                                </tbody>
                            </ng-template>
                        </table>
                    </div>
                    <!-- End table -->
                    <div class="row justify-content-md-between align-items-md-center mt-2">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                                Total wilayas {{ metaData.totalItems }}
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col-sm-12 col-md-5">
                            <nav aria-label="...">
                                <ul class="pagination justify-content-end">
                                    <!-- <li class="page-item">
                                        <button class="page-link info">
                                            total utilistaeur : {{ metaData.totalItems }}
                                        </button>
                                    </li> -->
                                    <li class="page-item">
                                        <button class="page-link" [disabled]="metaLinks.previous.length <= 0"
                                            (click)="funcPaginate(metaLinks.previous)">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button class="page-link" *ngIf="metaData.currentPage - 2 > 0"
                                            (click)="funcPaginate('', metaData.currentPage - 2)">
                                            {{ metaData.currentPage - 2
                                            }}<span class="sr-only"></span>
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button class="page-link" *ngIf="metaData.currentPage - 1 > 0"
                                            (click)="funcPaginate('', metaData.currentPage - 1)">
                                            {{ metaData.currentPage - 1
                                            }}<span class="sr-only"></span>
                                        </button>
                                    </li>
                                    <li class="page-item active">
                                        <button class="page-link" (click)="funcPaginate('', metaData.currentPage)">
                                            {{ metaData.currentPage
                                            }}<span class="sr-only">(current)</span>
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button class="page-link" (click)="funcPaginate('', metaData.currentPage + 1)"
                                            *ngIf="metaData.currentPage + 1 <= metaData.totalPages">
                                            {{ metaData.currentPage + 1
                                            }}<span class="sr-only"></span>
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button class="page-link" (click)="funcPaginate('', metaData.currentPage + 2)"
                                            *ngIf="metaData.currentPage + 2 < metaData.totalPages">
                                            {{ metaData.currentPage + 2
                                            }}<span class="sr-only"></span>
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button class="page-link" *ngIf="
                    metaLinks.next.length != 0 &&
                    metaData.currentPage + 2 <= metaData.totalPages
                  ">
                                            ...
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button class="page-link" [disabled]="metaLinks.next.length <= 0"
                                            (click)="funcPaginate(metaLinks.next)">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- End Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contacts model  -->
<ng-template #content role="document" let-modal="close">
    <div class="modal-header">
        <h5 class="modal-title">Ajouter une wilaya</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body p-3">
        <div class="text-left">
            <form class="needs-validation row col-12" (ngSubmit)="createWilaya()" [formGroup]="wilayaForm">

                <!--code wilaya-->
                <div class="form-group row col-12">
                    <label class="col-3 col-form-label text-right" for="codeWilaya">Code wilaya</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="codeWilaya" placeholder="Enter Code Wilaya"
                            formControlName="codeWilaya"
                            [ngClass]="{'is-invalid': wilayaForm.controls['codeWilaya'].invalid && (wilayaForm.controls['codeWilaya'].dirty || wilayaForm.controls['codeWilaya'].touched),'is-valid': wilayaForm.controls['codeWilaya'].valid && (wilayaForm.controls['codeWilaya'].dirty || wilayaForm.controls['codeWilaya'].touched) }">
                        <div *ngIf="wilayaForm.controls['codeWilaya'].invalid" class="invalid-feedback">
                            <span *ngIf="wilayaForm.controls['codeWilaya'].errors.required">code Wilaya requis </span>
                            <span *ngIf="wilayaForm.controls['codeWilaya'].errors.pattern">le code doit étre un nombre
                            </span>
                            <span *ngIf="wilayaForm.controls['codeWilaya'].errors.minlength">longueur minimale 2
                                characters </span>
                            <span *ngIf="wilayaForm.controls['codeWilaya'].errors.maxlength">longueur maximale 2
                                characters </span>
                        </div>
                    </div>
                </div>

                <!--nomLatin-->
                <div class="form-group row col-12">
                    <label class="col-3 col-form-label text-right" for="nomLatin">Nom Latin</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="nomLatin" placeholder="Enter Nom Latin"
                            formControlName="nomLatin"
                            [ngClass]="{'is-invalid': wilayaForm.controls['nomLatin'].invalid && (wilayaForm.controls['nomLatin'].dirty || wilayaForm.controls['nomLatin'].touched),'is-valid': wilayaForm.controls['nomLatin'].valid && (wilayaForm.controls['nomLatin'].dirty || wilayaForm.controls['nomLatin'].touched) }">
                        <div *ngIf="wilayaForm.controls['nomLatin'].invalid" class="invalid-feedback">
                            <span *ngIf="wilayaForm.controls['nomLatin'].errors.required">nom Latin requis</span>
                            <span *ngIf="wilayaForm.controls['nomLatin'].errors.minlength">longueur minimale 3
                                characters</span>
                            <span *ngIf="wilayaForm.controls['nomLatin'].errors.maxlength">longueur maximale 30
                                characters</span>
                        </div>
                    </div>

                </div>


                <!--nomArabe-->
                <div class="form-group row col-12">
                    <label class="col-3 col-form-label text-right" for="nomArabe">Nom Arabe</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="nomArabe" placeholder="Enter Nom Arabe"
                            formControlName="nomArabe"
                            [ngClass]="{'is-invalid': wilayaForm.controls['nomArabe'].invalid && (wilayaForm.controls['nomArabe'].dirty || wilayaForm.controls['nomArabe'].touched),'is-valid': wilayaForm.controls['nomArabe'].valid && (wilayaForm.controls['nomArabe'].dirty || wilayaForm.controls['nomArabe'].touched) }">
                        <div *ngIf="wilayaForm.controls['nomArabe'].invalid" class="invalid-feedback">
                            <span *ngIf="wilayaForm.controls['nomArabe'].errors.required">nom Arabe requis</span>
                            <span *ngIf="wilayaForm.controls['nomArabe'].errors.minlength">longueur minimale 3
                                characters</span>
                            <span *ngIf="wilayaForm.controls['nomArabe'].errors.maxlength">longueur maximale 30
                                characters</span>
                        </div>
                    </div>

                </div>

                <!--agence Retour-->
                <div class="form-group row col-12">
                    <label class="col-3 col-form-label text-right">Agence de retour * </label>
                    <div class="col-9 text-left">
                        <ng-select formControlName="agenceRetourId" placeholder=" Selectionner l'agence">
                            <ng-option *ngFor="let agence of listAgences" [value]="agence.id">
                                {{agence.nom }}
                            </ng-option>
                        </ng-select>
                        <span
                            *ngIf="wilayaForm.controls['agenceRetourId'].invalid && wilayaForm.controls['agenceRetourId'].touched"
                            class="invalid-feedback-custom">Agence requise</span>
                    </div>
                </div>

                <div class="row mx-auto">
                    <button class="btn btn-success" type="submit" *ngIf="!btnSpinner" [disabled]="wilayaForm.invalid">
                        Valider
                    </button>
                    <button class="btn btn-outline-primary" type="button" disabled *ngIf="btnSpinner">
                        <span class="btnSpinner-border btnSpinner-border-sm" role="status" aria-hidden="true"></span>
                        Ajout en cours
                    </button>
                </div>
            </form>
        </div>
    </div>
</ng-template>