<nav class="navbar navbar-expand-md navbar-light bg-light py-0 my-0" style="border-bottom: #d62e2f 3px solid;">
    <!-- LOGO -->

    <div class="navbar-brand-box py-0 my-0" style="line-height: 60px;">
        <!-- bg-white -->
        <a href="/" class="logo " style="line-height: 60px;">
            <span class="logo-sm">
                <img src="assets/images/logo-v1.png" width=220px height=45px>
            </span>
            <span class="logo-lg">
                <img src="assets/images/logo-v1.png" width=220px height=45px>
            </span>
        </a>
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto font-weight-bold">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/">Accueil</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link text-dark" routerLink="/services">Services</a>
            </li>

            <li class="nav-item ">
                <a class="nav-link text-dark" href="/contact">Contact</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-primary" href="/apropos">A propos</a>
            </li>
            <li class="nav-item ">
                <a type="link" class=" nav-link text-danger" routerLink="/auth/login">
                    se connecter
                </a>

            </li>
        </ul>
    </div>

</nav>
<div class=" py-5" style="text-align: center;
    background: rgb(220, 226, 233);
    padding: 40px 0;
    margin-bottom: 40px;">
    <h1 style="color: #333333;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.08em;
    text-align: center;">A propos de Yalidine Express</h1>

</div>

<div class="col-md-8 col-sm-12">
    <div class="about-rightsidebar">
        <h3>NOTRE HISTOIRE</h3>
        <p class="ml-5">
            Née de l’union entre deux personnes issues du secteur de la messagerie, la société Yalidine El Djazair
            Service présente
            sur le marché depuis 2013. </p>
    </div>
</div>
<hr>
<div class="col-md-8 col-sm-12">
    <div class="about-rightsidebar">
        <h3>DOMAINE D'ACTIVITÉ</h3>
        <p class="ml-5">
            La société intervient dans le domaine de la messagerie et de la logistique express sur le réseau domestique
            et assure la
            collecte et la livraison sur 48 wilayas. </p>
    </div>
</div>
<hr>
<div class="col-md-8 col-sm-12">
    <div class="about-rightsidebar">
        <h3>NOS VALEURS</h3>
        <p class="ml-5">Les services YALIDINE ont su adapter leurs activités au marché et aux opportunités à l’échelle
            nationale et nous tenons
            à préserver et à cultiver un état d’esprit d’entreprise familiale dont la particularité a toujours été un
            fort
            relationnel client. Conscients de devoir apporter des solutions sur mesures et évolutives, les services
            Yalidine
            optimisent en continu la qualité de leurs prestations, Respect des engagements et sens du service à travers
            une relation
            de confiance, et garantie des délais de livraisons. </p>
    </div>
</div>
<div class="col-md-8 col-sm-12">
    <div class="about-rightsidebar">
        <h3>CAPACITÉS OPÉRATIONNELLES</h3>
        <ul class="ml-3">
            <li>
                <p>Innovation constante afin de répondre aux exigences de notre clientèle : système de traçabilité
                    instantanée.</p>
            </li>
            <li>
                <p>01 centre de tri à Alger.</p>
            </li>
            <li>
                <p>12 bureaux régionaux : Alger (Bordj El Kiffan et les vergers), Oran, Sétif, Constantine, Annaba,
                    Skikda, Biskra, El
                    Oued, Blida, Tébessa, Bejaia, Tlemcen .</p>
            </li>
            <li>
                <p>Ouverture prochaine de bureaux à: SKIKDA, BATNA, TLEMCEN, BISKRA, EL OUED, HASSI MESSAOUD, BEJAIA.
                </p>
            </li>
            <li>
                <p>Livraison à J+1 sur l’ensemble des grands centres urbains du nord et du centre du pays.</p>
            </li>
            <li>
                <p>Plus de 68 Agents coursiers répartis sur tout le territoire.</p>
            </li>
            <li>
                <p>Plus de 05 Superviseurs qui veillent au bon déroulement des opérations sur le terrain.</p>
            </li>
            <li>
                <p>Plus de 04 Agents services clients qui sont à l’écoute permanente de la clientèle pour les
                    réservations et le suivi des
                    livraisons.</p>
            </li>
            <li>
                <p>Plus de 17 Motos déployées dans les centres urbains pour courses rapides et efficaces.</p>
            </li>
            <li>
                <p>Plus de 09 Véhicules légers pour les courses de banlieues et des villes limitrophes,</p>
            </li>
            <li>
                <p>42 Fourgonnettes (Peugeot Partner, Kangoo et Berlingo) pour les connexions moyennes et longues
                    distances,</p>
            </li>
            <li>
                <p>Plus 06 Fourgons pour les navettes inter-régions (Alger vers les régions Est-Ouest).</p>
            </li>
            <li>
                <p>Possibilité d’extension des moyens en fonction de la demande.</p>
            </li>
        </ul>

    </div>
</div>
<footer id="footer" class=" mt-5">

    <div class="footer1">
        <div class="container">
            <div class="row">

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact info</h3>
                    <div class="widget-body">
                        <p> Zone d’activité Kaidi Lot 63, Bordj El Kiffan,<br> Algérie 16000 Alger, Algérie</p>

                        <p> RC N°: 13B 0986869-00/16</p>
                        <p> AI N°: 16097109014</p>
                        <p> NIF N°: 001316098686984</p>
                        <p> NIS N°: 001316300106759</p>
                        <p> (+213) 0560 477 119</p>
                        <p>+234 23 9873237<br>
                            <a href="mailto:#">contact@yalidine.com</a>
                        </p>
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Nous suivre</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href=""><i class="fab fa-facebook fa-2"></i></a>
                            <a href=""><i class="fab fa-instagram fa-2"></i></a>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <img src="assets/images/logo-v2.png" width=210px height=50px>

                    <div class="widget-body">
                        <p>Opérateur de courrier Express en régime
                            domestique. </p>
                        <p> Notre mission principale est de nous assurer de transporter vos
                            courriers et vos colis.</p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">

                <!-- <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="simplenav">
                <a href="#">Home</a> |
                <a href="about.html">About</a> |
                <a href="sidebar-right.html">Sidebar</a> |
                <a href="contact.html">Contact</a> |
                <b><a href="signup.html">Sign up</a></b>
              </p>
            </div>
          </div> -->

                <div class="col-md-12 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright 2022 Yalidine El Djazair Service, Tous droits réservés.
                        </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

</footer>