<div class="custom-file col-3 mt-2 mr-auto">
    <input type="file" class="custom-file-input" id="customFile" (change)="addfile($event)" placeholder="Upload file"
        accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
    <label class="custom-file-label" for="customFile">Choisir un fichier des wilayas</label>
</div>
<div class="card">
  
    <div class="card-header bg-transparent border-bottom">
        <div class="row">
            <h5 class="mb-0 mt-2 col-6">Services</h5>
            <div class="mb-0 col-6 text-right"> <button type="button"
                    [disabled]="this.tarificationService.inCreatingNewService | async"
                    (click)="this.tarificationService.configureNewService()"
                    class="btn btn-sm btn-danger btn-rounded m-0 font-weight-bold font-size-16"
                    ngbTooltip="Configuer un nouveau service" placement="left"><i class="mdi mdi-plus"></i></button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <ngb-accordion [closeOthers]="true" class="custom-accordion categories-accordion"
            *ngIf="!isloadingData; else spiner">
            <ngb-panel id={{service.id}} class="categories-group-card text-left"
                *ngFor="let service of servivesData; let i=index">
                <ng-template ngbPanelTitle>
                    <span (click)="getDetailService(service.id)"> {{service.nom}} </span>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div>
                        <!--   <ul class="list-unstyled categories-list m-0 p-1"
                            *ngFor="let code of service.codeTarif; let y=index">
                            <li>
                                <a href="javascript: void(0);" (click)="getDetailCodeTarif(service.id,code.id)">{{y+1}}
                                    - {{code.nom}}</a>
                            </li>
                        </ul> -->
                        <ul class="list-unstyled text-center categories-list m-0 p-0 pb-1">
                            <li>
                                <a href="javascript: void(0);"
                                    (click)="this.tarificationService.configureNewCodeTarif(service.nom)"> <i
                                        class="ri-add-circle-fill text-danger font-size-20"></i></a>
                            </li>
                        </ul>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel type="light" [disabled]=true class="categories-group-card text-left"
                *ngIf="servivesData.length <= 0">
                <ng-template ngbPanelTitle class="p-5">
                    <div class="text-danger text-center col-12">
                        Pas de services <i class="ri-error-warning-line align-middle mr-4"></i>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
        <ngb-panel type="light" [disabled]=true class="categories-group-card text-left"
            *ngIf="servivesData.length <= 0">
            <ng-template ngbPanelTitle class="p-5">
                <div class="text-danger text-center col-12">
                    Pas de services <i class="ri-error-warning-line align-middle mr-4"></i>
                </div>
            </ng-template>
        </ngb-panel>


        <div class="pt-3">
            <ngb-accordion [closeOthers]="true" autocapitalize='none' activeIds
                class="custom-accordion categories-accordion"
                *ngIf="!this.tarificationService.createdServicesIsLoading; else spiner" type="info">
                <ngb-panel id={{i}} class="categories-group-card text-left"
                    *ngFor="let service of this.tarificationService.newServices; let i=index">
                    <ng-template ngbPanelTitle>
                        <span class="text-white "> {{service.nom}} </span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div>
                            <ul class="list-unstyled categories-list m-0 p-1"
                                *ngFor="let code of service.codeTarif; let y=index">
                                <li>
                                    <a href="javascript: void(0);">{{y+1}}
                                        - {{code.nom}}</a>
                                </li>
                            </ul>
                        </div>
                    </ng-template>

                </ngb-panel>
            </ngb-accordion>
        </div>
        <ng-template #spiner>
            <div class="col-12 text-center">
                <div class="spinner-border text-primary m-1" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <span class="d-block">Chargement ...</span>
            </div>
        </ng-template>
    </div>
</div>