<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light py-0 my-0"
    style="border-bottom: #781616 3px solid;">
    <!-- LOGO -->
    <div class="navbar-brand-box py-0">
      <!-- bg-white -->
      <a href="/" class="logo logo-dark">
        <span class="logo-sm">
          <img src="assets/images/yalidine-logo-sm.png" width=56px height=56px>
        </span>
        <span class="logo-lg">
          <img src="assets/images/yalidine-logo.png" width=182px height=60px>
        </span>
      </a>
    </div>
     
<button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto font-weight-bold">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/">Accueil</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link text-dark" href="#">Services</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link text-dark" href="#">Nos qualités</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-dark" href="#">A propos</a>
        </li>
      </ul>
    </div>
  <div class="nav-item ">
    <a type="link" class="btn btn-outline-dark nav-link px-3 ml-auto " routerLink="auth/login">
      <i class=" fas fa-user-circle mr-2 pl-1"></i>
      se connecter
    </a>
  </div>
  </nav>


  <div class="carousel-inner px-0 mx-0" style="backdrop-filter: blur(5px); ">
    <div class="welcome-bg">
      <div class="bg-overlay"></div>
    </div>
  </div>

  <div class="container text-center my-5">
    <br>
    <h2 class="thin">Le 1er de la livraison express en Algérie</h2>
    <p class="text-muted">
      Avec un système de suivi 100% en temps réel!
    </p>
  </div>

  <div class="jumbotron top-space bg-white border-top ">
    <div class="container">
      <h3 class="text-center thin">Nous livrons partout en Algérie</h3>

      <div class="row">
        <div class="col-md-3 col-sm-6 highlight">
          <img class="h-100 w-100" alt="map-livraison" src="../../../assets/images/map.jpg">
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption">
            <h4><i class="fas fa-tachometer-alt fa-5"></i>Rapidité</h4>
          </div>
          <div class="h-body text-center">
            <p>Yalidine est le service de livraison le plus rapide en Algérie. vos envois sont livrés en un temps
              record!! </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption">
            <h4><i class="fas fa-shield-alt fa-5"></i>Sécurité</h4>
          </div>
          <div class="h-body text-center">
            <p>Avec Yalidine, vos envois sont sécurisés dès le ramassage, pendant leur acheminement et jusqu’à leur
              livraison.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 highlight">
          <div class="h-caption">
            <h4><i class="fas fa-clock"></i>Temps réel</h4>
          </div>
          <div class="h-body text-center">
            <p>Vous pouvez suivre, vous et votre client, toutes les étapes de la livraison de
              votre colis en temps réel et à tout moment, sur la plateforme. </p>
          </div>
        </div>
      </div> <!-- /row  -->

    </div>
  </div>



  <footer id="footer" class="top-space">

    <div class="footer1">
      <div class="container">
        <div class="row">

          <div class="col-md-3 widget">
            <h3 class="widget-title">Contact info</h3>
            <div class="widget-body">
              <p> 1 Lotissement les vergers Bir Mourad Rais.
                16000 Alger</p>
              <p> RC N°: 13B 0986869-00/16</p>
              <p> AI N°: 16097109014</p>
              <p> NIF N°: 001316098686984</p>
              <p> NIS N°: 001316300106759</p>
              <p> (+213) 0560 477 119</p>
              <p>+234 23 9873237<br>
                <a href="mailto:#">contact@yalidine.com</a>
              </p>
            </div>
          </div>

          <div class="col-md-3 widget">
            <h3 class="widget-title">Nous suivre</h3>
            <div class="widget-body">
              <p class="follow-me-icons">
                <a href=""><i class="fab fa-twitter fa-2"></i></a>
                <a href=""><i class="fab fa-instagram fa-2"></i></a>
                <a href=""><i class="fab fa-facebook fa-2"></i></a>
              </p>
            </div>
          </div>

          <div class="col-md-6 widget">
            <img src="assets/images/yalidine-logo.png" width=180px height=60px>
            <div class="widget-body">
              <p>Opérateur de courrier Express en régime
                domestique. </p>
              <p> Notre mission principale est de nous assurer de transporter vos
                courriers et vos colis.</p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

    <div class="footer2">
      <div class="container">
        <div class="row">

          <!-- <div class="col-md-6 widget">
            <div class="widget-body">
              <p class="simplenav">
                <a href="#">Home</a> |
                <a href="about.html">About</a> |
                <a href="sidebar-right.html">Sidebar</a> |
                <a href="contact.html">Contact</a> |
                <b><a href="signup.html">Sign up</a></b>
              </p>
            </div>
          </div> -->

          <div class="col-md-12 widget">
            <div class="widget-body">
              <p class="text-right">
                Copyright 2022 Yalidine El Djazair Service, Tous droits réservés.
              </p>
            </div>
          </div>

        </div> <!-- /row of widgets -->
      </div>
    </div>

  </footer>
</body>