<div class="container-fluid">
  <div class="row">
    <div class="mt-3">
      <h4>Mes colis en attente de validation </h4>
    </div>

    <div class="ml-auto ">

      <button type="button" mdbBtn class="btn btn-md btn-outline-danger waves-effect waves-light "
        (click)="openModal(content)"><i class="fas fa-plus mr-2"></i> Crée Colis</button>
      <button type="button" mdbBtn class="btn btn-md btn-outline-danger waves-effect waves-light "
        (click)="openModalAspirer(contentAspirer)"><i class="fas fa-plus mr-2"></i>
        Importer plusieurs colis</button>
      <button *ngIf="colisData.length > 1" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
        class="btn btn-md btn-outline-success waves-effect waves-light " (click)="validateAllShipment()"><i
          class="fas fa-check mr-2"></i>Valider les colis de la page</button>
    </div>


  </div>
  <hr>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-md-2">
          <!-- Search -->
          <div class="col-sm-12 col-md-12">
            <div id="tickets-table_filter" class="dataTables_filter text-md-right">
              <label class="d-inline-flex align-items-center">Recherche:
                <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                  aria-controls="tickets-table" [(ngModel)]="searchColisTerm"
                  (ngModelChange)="searchTermUpdateColis(searchColisTerm)" /></label>
            </div>
          </div>
          <!-- End search -->
        </div>
        <!-- Table -->
        <div class="table-responsive">
          <table id="basic-datatable" class="table table-centered dt-responsive nowrap 
                        no-footer dtr-inline table-bordered">
            <thead>
              <tr>
                <th>Nom prénom</th>
                <th>Numéro</th>
                <th>Distination</th>
                <th>Designation</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngIf="!isLoading; else spiner">
              <tr *ngFor="let colis of colisData; let i=index ">
                <td class="text-capitalize">{{colis.nom}} {{colis.prenom}}</td>
                <td>{{colis.telephone}}</td>
                <td class="text-capitalize">{{colis.commune.nomLatin}} / {{colis.commune.wilaya.nomLatin}}</td>
                <td>{{colis.designationProduit}}</td>
                <td class="py-0">
                  <div class=" col-12 p-0">
                    <button mdbBtn color="primary" class="waves-light" (click)="validateShipment(colis.id)"
                      class="btn-success btn-sm px-3 btn"><i class="fas fa-check "></i></button>
                    <button mdbBtn color="mdb-color" class="waves-light" (click)="showDetailShipment(colis.id)"
                      class="btn-warning btn-sm px-3 btn"><i class=" fas fa-pen"></i></button>
                    <button mdbBtn color="danger" class="waves-light" (click)="deleteShipment(colis)"
                      class="btn-Danger btn-sm px-3 btn"><i class="far fa-trash-alt "></i></button>
                  </div>
                </td>
              </tr>
              <tr *ngIf="colisData.length <= 0">
                <th colspan="7" class="text-center">
                  <div class="text-center">
                    <p class="m-0 p-0"><i class="ri-error-warning-line customIcone"> </i> Pas
                      de colis ! </p>
                  </div>
                </th>
              </tr>
            </tbody>

            <ng-template #spiner>
              <tbody>
                <tr>
                  <th colspan="7" class="text-center">
                    <div class="spinner-border text-primary m-1" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <span class="d-block">Chargement ...</span>
                  </th>
                </tr>
              </tbody>
            </ng-template>
          </table>
        </div>
        <!-- End table -->
        <div class="row justify-content-md-between align-items-md-center mt-2">
          <div class="col-sm-12 col-md-5">
            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
              Total {{ metaData.totalItems }} colis
            </div>
          </div>
          <!-- Pagination -->
          <div class="col-sm-12 col-md-5">
            <nav aria-label="...">
              <ul class="pagination justify-content-end">
                <!-- <li class="page-item">
                                            <button class="page-link info">
                                                total utilistaeur : {{ metaData.totalItems }}
                                            </button>
                                        </li> -->
                <li class="page-item">
                  <button class="page-link" [disabled]="metaLinks.previous.length <= 0"
                    (click)="funcPaginateColis(metaLinks.previous)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </button>
                </li>
                <li class="page-item">
                  <button class="page-link" *ngIf="metaData.currentPage - 2 > 0"
                    (click)="funcPaginateColis('', metaData.currentPage - 2)">
                    {{ metaData.currentPage - 2
                    }}<span class="sr-only"></span>
                  </button>
                </li>
                <li class="page-item">
                  <button class="page-link" *ngIf="metaData.currentPage - 1 > 0"
                    (click)="funcPaginateColis('', metaData.currentPage - 1)">
                    {{ metaData.currentPage - 1
                    }}<span class="sr-only"></span>
                  </button>
                </li>
                <li class="page-item active">
                  <button class="page-link" (click)="funcPaginateColis('', metaData.currentPage)">
                    {{ metaData.currentPage
                    }}<span class="sr-only">(current)</span>
                  </button>
                </li>
                <li class="page-item">
                  <button class="page-link" (click)="funcPaginateColis('', metaData.currentPage + 1)"
                    *ngIf="metaData.currentPage + 1 <= metaData.totalPages">
                    {{ metaData.currentPage + 1
                    }}<span class="sr-only"></span>
                  </button>
                </li>
                <li class="page-item">
                  <button class="page-link" (click)="funcPaginateColis('', metaData.currentPage + 2)"
                    *ngIf="metaData.currentPage + 2 < metaData.totalPages">
                    {{ metaData.currentPage + 2
                    }}<span class="sr-only"></span>
                  </button>
                </li>
                <li class="page-item">
                  <button class="page-link" *ngIf="
                        metaLinks.next.length != 0 &&
                        metaData.currentPage + 2 <= metaData.totalPages
                      ">
                    ...
                  </button>
                </li>
                <li class="page-item">
                  <button class="page-link" [disabled]="metaLinks.next.length <= 0"
                    (click)="funcPaginateColis(metaLinks.next)">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
          <!-- End Pagination -->
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content role="document" let-modal="close" class="modal modal-lg">
  <div class="modal-header">
    <h5 class="modal-title">Ajouter un colis</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3">
    <aw-wizard [navBarLayout]="'large-empty-symbols'">
      <form [formGroup]="shippmentForm" class="form col-12">

        <aw-wizard-step>
          <ng-template awWizardStepSymbol>
            <i class="ri-number-1"></i>
          </ng-template>
          <div class="row mt-2 ">
            <div class="col-12 ">
              <p class="legend mx-auto"><span>Information du Client</span></p>

              <!-- Raison sociale -->
              <div class="form-group row mb-3 mt-4">
                <label class="col-md-3 col-form-label text-right" for="raisonSociale">Raison sociale*: </label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="raisonSociale" type="text" placeholder="Raison sociale"
                    [ngClass]="{'is-invalid': shippmentForm.controls['raisonSociale'].invalid && (shippmentForm.controls['raisonSociale'].dirty || shippmentForm.controls['raisonSociale'].touched),'is-valid': shippmentForm.controls['raisonSociale'].valid && (shippmentForm.controls['raisonSociale'].dirty || shippmentForm.controls['raisonSociale'].touched) }">
                  <div *ngIf="shippmentForm.controls['raisonSociale'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['raisonSociale'].errors.minlength">longueur minimale 3
                      characters </span>
                    <span *ngIf="shippmentForm.controls['raisonSociale'].errors.maxlength">Longuer maximale 50
                      characters</span>
                  </div>
                </div>
              </div>

              <!-- Nom -->
              <div class="form-group row mb-3">
                <label class="col-md-3 col-form-label text-right" for="nom">Nom*:</label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="nom" type="text" placeholder="Nom"
                    [ngClass]="{'is-invalid': shippmentForm.controls['nom'].invalid && (shippmentForm.controls['nom'].dirty || shippmentForm.controls['nom'].touched),'is-valid': shippmentForm.controls['nom'].valid && (shippmentForm.controls['nom'].dirty || shippmentForm.controls['nom'].touched) }">
                  <div *ngIf="shippmentForm.controls['nom'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['nom'].errors.required">Nom requie</span>
                    <span *ngIf="shippmentForm.controls['nom'].errors.minlength">longueur minimale 3
                      characters
                      characters or more.</span>
                    <span *ngIf="shippmentForm.controls['nom'].errors.maxlength">Longuer maximale 50
                      characters</span>
                  </div>
                </div>
              </div>

              <!-- Prenom -->
              <div class="form-group row mb-3 ">
                <label class="col-md-3 col-form-label text-right">Prénom*:</label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="prenom" placeholder="Prénom"
                    [ngClass]="{'is-invalid': shippmentForm.controls['prenom'].invalid && (shippmentForm.controls['prenom'].dirty || shippmentForm.controls['prenom'].touched),'is-valid': shippmentForm.controls['prenom'].valid && (shippmentForm.controls['prenom'].dirty || shippmentForm.controls['prenom'].touched) }">
                  <div *ngIf="shippmentForm.controls['prenom'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['prenom'].errors.required">Prénom requie</span>
                    <span *ngIf="shippmentForm.controls['prenom'].errors.minlength">longueur minimale 3
                      characters</span>
                    <span *ngIf="shippmentForm.controls['prenom'].errors.maxlength">Longuer maximale 50
                      characters</span>
                  </div>
                </div>
              </div>

              <!-- Telephone -->
              <div class="form-group row mb-3 text-right">
                <label class="col-md-3 col-form-label">Téléphone*:</label>
                <div class="col-md-9 text-left">
                  <input class="form-control" formControlName="telephone" mask="00-00-00-00-00" placeholder="00-00-00-00-00" type="text"
                    [ngClass]="{'is-invalid': shippmentForm.controls['telephone'].invalid && (shippmentForm.controls['telephone'].dirty || shippmentForm.controls['telephone'].touched),'is-valid': shippmentForm.controls['telephone'].valid && (shippmentForm.controls['telephone'].dirty || shippmentForm.controls['telephone'].touched) }">
                  <div *ngIf="shippmentForm.controls['telephone'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['telephone'].errors.required">Téléphone requie</span>
                    <span *ngIf="shippmentForm.controls['telephone'].errors.minlength">longueur autoriser 10
                      characters</span>
                  </div>
                </div>
              </div>
              <!-- Type de livraison-->
              <div class="col-12 p-2 mt-3">
                <div class="row">
                  <p class="legend mx-auto"><span>Type de livraison</span></p>
                </div>
                <div class="row">
                  <div class="col-6 ">
                    <div class="row">
                      <label class="col-6 col-form-label  text-right" for="livraisonStopDesck">Lvarison Stop Desck
                        :</label>
                      <div class="col-6 mt-1 ">
                        <ui-switch uncheckedLabel="Non" checkedLabel="Oui" formControlName="livraisonStopDesck"
                          (valueChange)="onChangeShippmentTypeDesk($event)">
                        </ui-switch>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <label class="col-6 col-form-label  text-right" for="livraisonDomicile">livraison domicile
                        :</label>
                      <div class="col-6 mt-1 ">
                        <ui-switch uncheckedLabel="Non" checkedLabel="Oui" formControlName="livraisonDomicile"
                          (valueChange)="onChangeShippmentTypeHome($event)">
                        </ui-switch>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="list-inline wizard mt-3 mb-0">
            <li class="next list-inline-item float-right">
              <button class="btn btn-md btn-info waves-effect waves-light" [disabled]="!stepOneValide()" awNextStep>
                Suivant
                <i class="ri-arrow-right-line align-middle ms-2"></i>
              </button>
            </li>
          </ul>
        </aw-wizard-step>
        <aw-wizard-step>
          <ng-template awWizardStepSymbol>
            <i class="ri-number-2"></i>
          </ng-template>
          <div class="row">
            <div class="col-12">
              <p class="legend mx-auto"><span>Information de livraison</span></p>
              <!-- wilaya -->
              <div class="form-group row mb-3 text-right">
                <label class="col-md-3 col-form-label"> Wilaya*: </label>
                <div class="col-sm-9 text-left">
                  <ng-select formControlName="wilayaId" placeholder=" Selectionner la wilaya"
                    (change)="onChangeWilaya()">
                    <ng-option *ngFor="let wilaya of wilayasData" [value]="wilaya.id">
                      {{ wilaya.codeWilaya }} {{ wilaya.nomLatin }}
                    </ng-option>
                  </ng-select>
                  <span *ngIf="shippmentForm.controls['wilayaId'].invalid && shippmentForm.controls['wilayaId'].touched"
                    class="invalid-feedback-custom">Wilaya requise</span>
                  <span *ngIf="shippmentForm.controls['wilayaId'].valid && shippmentForm.controls['wilayaId'].touched"
                    class="valid-feedback-custom">Wilaya valide</span>
                </div>
              </div>

              <!--commune-->
              <div class="form-group row mb-3 text-right">
                <label class="col-md-3 col-form-label"> Commune*: </label>
                <div class="col-sm-9 text-left">
                  <ng-select formControlName="communeId" placeholder="Selectionner la commune">
                    <ng-option *ngFor="let commune of communesData" [value]="commune.id">
                      {{ commune.codePostal }} {{ commune.nomLatin }}
                    </ng-option>
                  </ng-select>
                  <span
                    *ngIf="shippmentForm.controls['communeId'].invalid && shippmentForm.controls['communeId'].touched"
                    class="invalid-feedback-custom">Commune requise</span>
                  <span *ngIf="shippmentForm.controls['communeId'].valid && shippmentForm.controls['communeId'].touched"
                    class="valid-feedback-custom">Commune valide</span>
                </div>
              </div>
              <!--Domicile || stop desck-->
              <div *ngIf="shippmentForm.controls['livraisonDomicile'].value" class="form-group row mb-3 text-right">
                <label class="col-md-3 col-form-label">Adresse*:</label>
                <div class="col-md-9 text-left">
                  <input class="form-control" formControlName="adresse" placeholder="Adresse"
                    [ngClass]="{'is-invalid': shippmentForm.controls['adresse'].invalid && (shippmentForm.controls['adresse'].dirty || shippmentForm.controls['adresse'].touched),'is-valid': shippmentForm.controls['adresse'].valid && (shippmentForm.controls['adresse'].dirty || shippmentForm.controls['adresse'].touched) }">
                  <div *ngIf="shippmentForm.controls['adresse'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['adresse'].errors.required">Adresse requise</span>
                    <span *ngIf="shippmentForm.controls['adresse'].errors.minlength">longueur minimale 3 characters
                    </span>
                    <span *ngIf="shippmentForm.controls['adresse'].errors.maxlength">longueur maximale 50
                      characters </span>
                  </div>
                </div>
              </div>

              <!-- Service -->
              <div class="form-group row mb-3 text-right">
                <label class="col-md-3 col-form-label"> Service*: </label>
                <div class="col-sm-9 text-left">
                  <ng-select formControlName="serviceId" placeholder="Selectionner le service" [searchable]="false">
                    <ng-option *ngFor="let service of serviceData" [value]="service.service_id">
                      {{ service.service_nom }}
                    </ng-option>
                  </ng-select>
                  <span
                    *ngIf="shippmentForm.controls['serviceId'].invalid && shippmentForm.controls['serviceId'].touched"
                    class="invalid-feedback-custom">Service requie</span>
                  <span *ngIf="shippmentForm.controls['serviceId'].valid && shippmentForm.controls['serviceId'].touched"
                    class="valid-feedback-custom">Service valide</span>
                </div>
              </div>

              <!-- N° Commande-->
              <div class="form-group row mb-3 ">
                <label class="col-md-3 col-form-label text-right">N° Commande*:</label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="numCommande" placeholder="N° Commande "
                    [ngClass]="{'is-invalid': shippmentForm.controls['numCommande'].invalid && (shippmentForm.controls['numCommande'].dirty || shippmentForm.controls['numCommande'].touched),'is-valid': shippmentForm.controls['numCommande'].valid && (shippmentForm.controls['numCommande'].dirty || shippmentForm.controls['numCommande'].touched) }">
                  <div *ngIf="shippmentForm.controls['numCommande'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['numCommande'].errors.required">Numéro de commande requie</span>
                    <span *ngIf="shippmentForm.controls['numCommande'].errors.minlength">longueur minimale 3
                      characters</span>
                    <span *ngIf="shippmentForm.controls['numCommande'].errors.maxlength">longueur maximale 50
                      characters</span>
                  </div>
                </div>
              </div>

              <!-- Designation -->
              <div class="form-group row mb-3 ">
                <label class="col-md-3 col-form-label text-right">Désignations*:</label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="designationProduit" placeholder="Désignation Produit "
                    [ngClass]="{'is-invalid': shippmentForm.controls['designationProduit'].invalid && (shippmentForm.controls['designationProduit'].dirty || shippmentForm.controls['designationProduit'].touched),'is-valid': shippmentForm.controls['designationProduit'].valid && (shippmentForm.controls['designationProduit'].dirty || shippmentForm.controls['designationProduit'].touched) }">
                  <div *ngIf="shippmentForm.controls['designationProduit'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['designationProduit'].errors.required">Designation produit
                      requise</span>
                    <span *ngIf="shippmentForm.controls['designationProduit'].errors.minlength">longueur minimale 3
                      characters</span>
                    <span *ngIf="shippmentForm.controls['designationProduit'].errors.maxlength">longueur maximale 50
                      characters</span>
                  </div>
                </div>
              </div>

              <!-- Prix Produit-->
              <div class="form-group row mb-3 ">
                <label class="col-md-3 col-form-label text-right">Prix du produit*:</label>
                <div class="col-md-9">
                  <div class="input-group">
                    <input type="number" class="form-control" formControlName="prixVente"
                      placeholder="Prix de vante du Produit " (keyup)="setValuePrixEstimer()"
                      [ngClass]="{'is-invalid': shippmentForm.controls['prixVente'].invalid && (shippmentForm.controls['prixVente'].dirty || shippmentForm.controls['prixVente'].touched),'is-valid': shippmentForm.controls['prixVente'].valid && (shippmentForm.controls['prixVente'].dirty || shippmentForm.controls['prixVente'].touched) }">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="validationTooltipUsernamePrepend">DA</span>
                    </div>
                    <div *ngIf="shippmentForm.controls['prixVente'].invalid" class="invalid-feedback">
                      <span *ngIf="shippmentForm.controls['prixVente'].errors.required">prix de vente requis</span>
                      <span *ngIf="shippmentForm.controls['prixVente'].errors.minlength">longueur minimale 3
                        characters.</span>
                      <span *ngIf="shippmentForm.controls['prixVente'].errors.maxlength">longueur maximale 50
                        characters.</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Prix Estimer-->
              <div class="form-group row mb-3 ">
                <label class="col-md-3 col-form-label text-right">Prix estimé*:</label>
                <div class="col-md-9">
                  <div class="input-group">
                    <input type="number" min="1000" class="form-control" formControlName="prixEstimer"
                      placeholder="Prix de vante du Produit "
                      [ngClass]="{'is-invalid': shippmentForm.controls['prixEstimer'].invalid && (shippmentForm.controls['prixEstimer'].dirty || shippmentForm.controls['prixEstimer'].touched),'is-valid': shippmentForm.controls['prixEstimer'].valid && (shippmentForm.controls['prixEstimer'].dirty || shippmentForm.controls['prixEstimer'].touched) }">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="validationTooltipUsernamePrepend">DA</span>
                    </div>
                    <div *ngIf="shippmentForm.controls['prixEstimer'].invalid" class="invalid-feedback">
                      <span *ngIf="shippmentForm.controls['prixEstimer'].errors.required">prix de vente requis</span>
                      <span *ngIf="shippmentForm.controls['prixEstimer'].errors.minlength">longueur minimale 3
                        characters.</span>
                      <span *ngIf="shippmentForm.controls['prixEstimer'].errors.maxlength">longueur maximale 50
                        characters.</span>
                    </div>
                  </div>
                </div>
              </div>



              <div class="row">
                <p class="legend mx-auto"><span>Paramétres de livraison</span></p>
              </div>
              <div class="row">

                <div class="col-6 ">
                  <!-- Livraison Gratuite-->
                  <div class="row ">
                    <label class="col-6  col-form-label text-right" for="livraisonGratuite"> Livraison
                      gratuite*:</label>
                    <div class="col-6 mt-1">
                      <ui-switch uncheckedLabel="Non" checkedLabel="Oui" formControlName="livraisonGratuite">
                      </ui-switch>
                    </div>
                  </div>

                </div>
                <div class="col-6">
                  <div class="row ">
                    <label class="col-6  col-form-label text-right" for="echange">Echange
                      *:</label>
                    <div class="col-6 mt-1">
                      <ui-switch uncheckedLabel="Non" checkedLabel="Oui" formControlName="echange"
                        (valueChange)="onChangeShippmentEchange($event)">
                      </ui-switch>
                    </div>
                  </div>
                </div>

              </div>

              <!-- Designation -->
              <div class="form-group row my-3" *ngIf="shippmentForm.controls['echange'].value">
                <label class="col-md-3 col-form-label text-right">Objet à récupérer*:</label>
                <div class="col-md-9">
                  <input class="form-control" formControlName="objetRecuperer" placeholder="Objet à récupérer"
                    [ngClass]="{'is-invalid': shippmentForm.controls['objetRecuperer'].invalid && (shippmentForm.controls['objetRecuperer'].dirty || shippmentForm.controls['objetRecuperer'].touched),'is-valid': shippmentForm.controls['objetRecuperer'].valid && (shippmentForm.controls['objetRecuperer'].dirty || shippmentForm.controls['objetRecuperer'].touched) }">
                  <div *ngIf="shippmentForm.controls['objetRecuperer'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['objetRecuperer'].errors.required">Objet à récupérer
                      requise</span>
                    <span *ngIf="shippmentForm.controls['objetRecuperer'].errors.minlength">longueur minimale 1
                      characters</span>
                    <span *ngIf="shippmentForm.controls['objetRecuperer'].errors.maxlength">longueur maximale 30
                      characters</span>
                  </div>
                </div>
              </div>



            </div>
          </div>
          <ul class="list-inline wizard mt-3 mb-0">
            <li class="previous list-inline-item"><button class="btn btn-md btn-outline-info waves-effect waves-light"
                awPreviousStep>
                <i class="ri-arrow-left-line align-middle ms-2"></i>
                Previous</button>
            </li>
            <li class="next list-inline-item float-right">
              <!-- [disabled]="!(this.shippmentForm.get('serviceId').valid && this.shippmentForm.get('numCommande').valid && this.shippmentForm.get('designationProduit').valid && this.shippmentForm.get('prixVente').valid )" -->
              <button class="btn btn-md btn-info waves-effect waves-light " awNextStep [disabled]="!stepTwoValide()">
                Suivant
                <i class="ri-arrow-right-line align-middle ms-2"></i>
              </button>
            </li>
          </ul>
        </aw-wizard-step>

        <aw-wizard-step>
          <ng-template awWizardStepSymbol>
            <i class="fas fa-check-circle"></i>
          </ng-template>
          <div class="row">
            <div class="col-12">
              <p class="legend mx-auto"><span>Poids et dimensions</span></p>

            </div>
            <div class="col-6">
              <div class="form-group row mb-3 ">
                <label class="col-md-4 col-form-label text-right">Poids (Kg)*:</label>
                <div class="col-md-7">
                  <input type="number" min="0" max="150" class="form-control" formControlName="poids"
                    placeholder="Poids (Kg)" [ngClass]="{'is-invalid': (shippmentForm.controls['poids'].invalid 
                    && (shippmentForm.controls['poids'].dirty || shippmentForm.controls['poids'].touched)) || 
                    (shippmentForm.value['livraisonDomicile'] === true && shippmentForm.value['poids'] > 30),
                    'is-valid': shippmentForm.controls['poids'].valid && (shippmentForm.controls['poids'].dirty 
                    || shippmentForm.controls['poids'].touched) }">
                  <div *ngIf="shippmentForm.controls['poids'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['poids'].errors.required">poids
                      requie</span>
                  </div>

                </div>
              </div>
              <div class="form-group row mb-3 ">
                <label class="col-md-4 col-form-label text-right">Largeur (m):</label>
                <div class="col-md-7">
                  <input type="number" step="0.1" min="0" max="2" class="form-control" formControlName="largeur"
                    placeholder="largeur (m)"
                    [ngClass]="{'is-invalid': (shippmentForm.controls['largeur'].invalid && 
                    (shippmentForm.controls['largeur'].dirty || shippmentForm.controls['largeur'].touched)) ||
                    (shippmentForm.value['longueur'] * shippmentForm.value['largeur'] 
                              * shippmentForm.value['hauteur'] * 200 >30),
                    'is-valid': shippmentForm.controls['largeur'].valid && (shippmentForm.controls['largeur'].dirty || shippmentForm.controls['largeur'].touched) }">
                  <div *ngIf="shippmentForm.controls['largeur'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['largeur'].errors.required">largeur
                      requie</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row mb-3 ">
                <label class="col-md-4 col-form-label text-right">longueur (m)*:</label>
                <div class="col-md-7">
                  <input type="number" step="0.1" min="0" max="2" class="form-control" formControlName="longueur"
                    placeholder="longueur (m) "
                    [ngClass]="{'is-invalid': (shippmentForm.controls['longueur'].invalid && 
                    (shippmentForm.controls['longueur'].dirty || shippmentForm.controls['longueur'].touched)) ||
                    (shippmentForm.value['longueur'] * shippmentForm.value['largeur'] 
                              * shippmentForm.value['hauteur'] * 200 >30),
                    'is-valid': shippmentForm.controls['longueur'].valid && (shippmentForm.controls['longueur'].dirty || shippmentForm.controls['longueur'].touched) }">
                  <div *ngIf="shippmentForm.controls['longueur'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['longueur'].errors.required">longueur
                      requie</span>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3 ">
                <label class="col-md-4 col-form-label text-right">Hauteur (m)*:</label>
                <div class="col-md-7">
                  <input type="number" step="0.1" min="0" max="2" class="form-control" formControlName="hauteur"
                    placeholder="Hauteur (m) "
                    [ngClass]="{'is-invalid': (shippmentForm.controls['hauteur'].invalid && 
                    (shippmentForm.controls['hauteur'].dirty || shippmentForm.controls['hauteur'].touched)) ||
                    (shippmentForm.value['longueur'] * shippmentForm.value['largeur'] 
                              * shippmentForm.value['hauteur'] * 200 >30),
                    'is-valid': shippmentForm.controls['hauteur'].valid && (shippmentForm.controls['hauteur'].dirty || shippmentForm.controls['hauteur'].touched) }">
                  <div *ngIf="shippmentForm.controls['hauteur'].invalid" class="invalid-feedback">
                    <span *ngIf="shippmentForm.controls['hauteur'].errors.required">hauteur
                      requie</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <p style="font-size: 11px;" class="text-danger mb-0" *ngIf="
              shippmentForm.value['longueur'] * shippmentForm.value['largeur'] 
              * shippmentForm.value['hauteur'] * 200 >150">
                Longueur X Largeur X Hauteur X 200 ne doit pas depasser 150.</p>
              <p style="font-size: 11px;" class="text-danger mb-0" *ngIf="
                shippmentForm.value['livraisonDomicile'] &&
                              (shippmentForm.value['longueur'] * shippmentForm.value['largeur'] 
                              * shippmentForm.value['hauteur'] * 200 >30)">
                Longueur X Largeur X Hauteur X 200 ne doit pas depasser 30 en livraison à domicile.</p>

              <p style="font-size: 11px;" class="text-danger mb-0" *ngIf="
                                  shippmentForm.value['livraisonDomicile'] &&
                                  shippmentForm.value['poids'] > 30">
                Le poids ne doit pas depasser 30 en livraison à domicile.</p>
              <p style="font-size: 11px;" class="text-danger mb-0" 
              *ngIf=" shippmentForm.value['poids'] > 150 || (shippmentForm.value['longueur'] *
               shippmentForm.value['largeur'] * shippmentForm.value['hauteur'] * 200 >150)">
                Service n'existe pas.</p>

              <p style="font-size: 11px;" class="text-warning">Chaque bordereau avec un maximun de 150Kg.</p>

            </div>
          </div>
          <div class="row mt-4">
            <div class="col-6">
              <button class="btn btn-md btn-outline-info waves-effect waves-light" awPreviousStep>
                <i class="ri-arrow-left-line align-middle ms-2"></i>
                Previous
              </button>
            </div>

            <div class="col-6 text-right ml-auto">
              <button class="btn btn-md btn-success waves-effect waves-light mx-auto" [disabled]="!stepThreeValide()"
                (click)="createShipment()">
                <i class="ri-check-line align-middle me-2"></i>
                Valider
              </button>
            </div>
          </div>
        </aw-wizard-step>
      </form>
    </aw-wizard>
  </div>
</ng-template>

<ng-template #contentAspirer role="document" let-modal="close" class="modal modal-sm">
  <div class="modal-header">
    <h5 class="modal-title">Ajouter plusieurs colis</h5>
    <button type="button" class="close" aria-label="Close" (click)="closeModalAspirer()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-3 ">
    <form [formGroup]="aspireForm" class="form col-12">


      <!-- Service -->
      <div class="form-group  mb-3 text-left">
        <label class="col-form-label"> Service*: </label>
        <div class="text-left">
          <ng-select formControlName="serviceAspireId" placeholder="Selectionner le service">
            <ng-option *ngFor="let service of serviceData" [value]="service.service_id">
              {{ service.service_nom }}
            </ng-option>
          </ng-select>
          <span *ngIf="shippmentForm.controls['serviceId'].invalid && shippmentForm.controls['serviceId'].touched"
            class="invalid-feedback-custom">Service requie</span>
          <span *ngIf="shippmentForm.controls['serviceId'].valid && shippmentForm.controls['serviceId'].touched"
            class="valid-feedback-custom">Service valide</span>
        </div>
      </div>

      <!--fichier-->
      <div class="form-group  mb-3 text-left">
        <label class="col-form-label"> Fichier des colis*: </label>
        <div class="text-left">
          <div class="custom-file  mt-2 ">
            <input formControlName="fichier" type="file" class="custom-file-input" id="customFile"
              placeholder="Upload file" (change)="addfile($event)"
              accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <span *ngIf="aspireForm.controls['fichier'].invalid && aspireForm.controls['fichier'].touched"
              class="invalid-feedback-custom">Fichier requie</span>
            <span *ngIf="aspireForm.controls['fichier'].valid && aspireForm.controls['fichier'].touched"
              class="valid-feedback-custom">Fichier choisi</span>
            <label class="custom-file-label" for="customFile">Fichier</label>

          </div>
        </div>
      </div>
      <div class=" text-center ml-auto">
        <button class="btn btn-success waves-effect waves-light mx-auto" [disabled]="!aspirationValide()"
          (click)="validateAspiration()">
          Je valide
        </button>
      </div>
    </form>
  </div>
</ng-template>
<!-- (change)="addfile($event)" -->