

.page-overlay-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1009;
    background: rgba(185, 167, 167, 0.5);

    .bee-spinner {
        position: fixed;
        top: 40%;
        left: calc(60% - 10%);
        z-index: 100;
        border: 8px solid #fff;
        border-top: 8px solid #db3434;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}