<div>
    <div class="row mb-0 col-12 align-center text-center">
        <h4 class="mt-1 mr-2"><i class="bi bi-collection "></i> Recever les colis de coursier </h4>
        <form [formGroup]="formCoursierSelected" class="col-6 col-sm-4 col-md-3 text-center">
            <ng-select formControlName="coursierSelected" placeholder="Choisir coursier" [clearable]="false"
                (change)="getShipmentsReturnStation($event)" [readonly]="selected.length>0" appendTo="body">
                <ng-option *ngFor="let coursier of coursiers" [value]="coursier.id">{{ coursier.nom}} {{ coursier.prenom
                    }}
                </ng-option>
            </ng-select>
        </form>
    </div>

    <hr class="mx-auto mb-0">
    <div class="jumbotron pb-0 pt-4 mb-0" style="background-color: transparent;"
        *ngIf="liste_colis_retour.length > 0 && formCoursierSelected.value['coursierSelected'] != undefined">
        <div class="row">
            <div class="col-md-4 ">
                <div class="card border-info mx-sm-1 p-2">
                    <div class="card border-info shadow text-info p-3 my-card"><i class="far fa-list-alt"></i></div>
                    <div class="text-info text-center mt-3">
                        <h5>Total à recever(+Echanges)</h5>
                    </div>
                    <div class="text-info text-center">
                        <h3>{{total}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-success mx-sm-1 p-2">
                    <div class="card border-danger shadow text-danger p-3 my-card">
                        <i class="far fa-window-close 5x"></i>
                    </div>
                    <div class="text-success text-center mt-3">
                        <h5>Echecs livraisons</h5>
                    </div>
                    <div class="text-success text-center">
                        <h3>{{liste_colis_echec.length}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card border-warning mx-sm-1 p-2">
                    <div class="card border-warning shadow text-warning p-3 my-card">
                        <i class="fas fa-exclamation-triangle"></i>
                    </div>
                    <div class="text-danger text-center mt-3">
                        <h5>Tentatives echouées</h5>
                    </div>
                    <div class="text-danger text-center">
                        <h3>{{liste_colis_tentative.length}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-8  mx-auto text-center mt-0" style="background:transparent;"
        *ngIf="liste_colis_retour.length > 0 && formCoursierSelected.value['coursierSelected'] != undefined">

        <form [formGroup]="formdata">
            <div class="form-groupe col-12 mx-auto d-flex m-0 ">

                <input type="text" formControlName="tracking" class="form-control mt-1 shadow"
                 placeholder="1111111111" autofocus>
                <input type="submit" class="btn btn-info shadow px-4 mx-1" (click)="newColis()" value="Ajouter">
            </div>
        </form>
        <hr class="mx-auto">
    </div>
    <div class=" text-dark">
        <label class='m-3 p-2 bg-info text-white' *ngFor="let i of selected">{{i}}
            <i class="fas fa-times  mx-2 text-danger" (click)="deletselected(i)"></i>
        </label>
    </div>
    <div class="mx-auto text-center mt-5" *ngIf="selected.length > 0">
        <button type="submit" class="btn btn-success shadow btn-lg  px-4 mx-1"
            (click)="setPacakgesSlipReturnStation()">Valider la réception
        </button>
    </div>
    <p class="text-center mx-auto mt-1 display-1" *ngIf = "total > 0">
        {{count}}
    </p>
</div>