<div class="row mb-3 col-12 align-center text-center d-flex justify-content-between">
  <form [formGroup]="coursierForm" class="row col-12" *ngIf="!coursierLoaded; else autreCoursier">
    <h4 class="labtrack mt-1 mx-2 "><i class="bi bi-collection "></i>Payer le coursier :</h4>
    <div class="col-3">
      <ng-select formControlName="coursierSelected" placeholder=" Selectionner un coursier" [clearable]="false"
        [readonly]="coursierLoaded" (change)="getColisLivrerByCoursierId($event)" appendTo="body">
        <ng-option *ngFor="let coursier of coursierData" [value]="coursier">
          <span class="text-uppercase">{{coursier.nom}} {{coursier.prenom}}</span>
        </ng-option>
      </ng-select>
    </div>
  </form>

  <ng-template #autreCoursier>
    <button type="button" class="btn btn-md btn-dark text-center" (click)="changeCoursier()">
      <i class="fas fa-arrow-left"></i> Autre coursier</button>
    <h5 class="customBg text-dark px-3 py-2 rounded text-capitalize font-weight-bold">{{coursierSelected.nom}}
      {{coursierSelected.prenom}}:
      <span class="display-5 font-weight-bold">{{nbrColis}} Colis - {{montant}} DA</span>
    </h5>
  </ng-template>
</div>

<hr class=" mx-auto">

<table class="table table-bordered table-centered bg-white" *ngIf="coursierLoaded && nbrColis > 0">
  <thead class="">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tracking</th>
      <!-- <th scope="col">Wilaya</th> -->
      <th scope="col">Date livraison</th>
      <th scope="col">Prix de livraison / ramassage </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let colis of listColis; let i=index">
      <td>{{i+1}}</td>
      <td><span class="bg-light py-2 px-3 rounded text-dark font-weight-bold">{{colis.shipment_tracking}}</span>
        <!-- <td>{{colis.service_nom}}</td> -->
        <!-- <td>{{colis.wilaya_nomLatin}}</td> -->
      <td>{{colis.status_createdAt | date:'dd-MM-YYYY HH:mm:ss'}}</td>
      <td class="font-weight-bold">{{ colis.tarifsLivraison | currency:'DA':'symbol' :'1.2-2':'fr'}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <!-- <td></td> -->
      <!-- <td></td> -->
      <td></td>
      <td></td>
      <td class="customBg">
        <h1 class="text-dark font-weight-bold p-0 ">Total: {{montant | currency:'DA':'symbol' :'1.2-2':'fr'}}</h1>
      </td>
    </tr>
    <tr>
      <!-- <td></td> -->
      <!-- <td></td> -->
      <td></td>
      <td></td>
      <td class="text-left">
        <button class="btn btn-danger" (click)="Confirm()"><i class="fas fa-cash-register"></i> Payer </button>
      </td>
    </tr>

  </tfoot>

</table>