
.card-hover :hover {
  background-color: #ed5565;
  cursor: pointer;
} 

div.rotate-2 {
  -o-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  position: relative;
  top: 5px;
}

.lazur-bg {
  background-color: #23c6c8;
  color: #ffffff;
}

.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}

.notes  div {
  color: rgb(255, 255, 255);
  display: block;
//   width: 810px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px #212121;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}
