 <h4>
 Detail du paiement : {{this.route.params.id}}</h4>
 <hr  class="mb-3">
 <h5>Liste des colis <span class="badge px-2 text-white bg-dark">{{listShipmentsDetail.length}}</span></h5>
<div class="card">
<table id="basic-datatable" class="table table-centered dt-responsive nowrap 
                       ">
    <thead>
        <th>Tracking</th>
        <th>Destinataire</th>
        <th>Prix produit</th>
        <th>Prix livraison</th>
        <th>Status</th>
        <th>C O D</th>
    </thead>
    <tbody>
        <tr *ngFor="let data of listShipmentsDetail">
            <td>{{data.tracking}}</td>
            <td>{{data.nomPrenom}}</td>
            <td>{{data.prixProduit}}</td>
            <td>{{data.prixLivraison}}</td>
            <td>{{data.status}}</td>
            <td>{{data.cod}}</td>
        </tr>
    </tbody>
</table>
</div>